# Object files
*.o
*.ko
*.obj
*.elf
*.res

# Precompiled Headers
*.gch
*.pch

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib


# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

# MSVC Stuff
*_i.c
*_p.c
*_i.h
*.ilk
*.exp
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
